#site {
    .site_inner{
        padding: 16px;

        .site_title{
            position: sticky;
            left: 0;
            top: 70px;
            width: 70%;
            height: 5vw;
            background-color: lightpink;
            font-size: 4vw;
            font-family: var(--mainKor-font);
            border-bottom: 0.4vw solid var(--black100);
            em{
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
        .site_wrap{

            .site_item{
                position:sticky;
                left: 0;
                margin-bottom: 100px;
                height: 70vh;
                @include flex-center;
                text-align: center;
                flex-direction: column;


                &.s1{
                    background-color: var(--subBg100);
                    top: 180px;
                }
                &.s2{
                    background-color: var(--subBg200);
                    top: 200px;
                }
                &.s3{
                    background-color: var(--subBg300);
                    top: 220px;
                }
                &.s4{
                    background-color: var(--subBg400);
                    top: 240px;
                }
            
                .num {
                    position: absolute;
                    left: 1vw;
                    top: 1vw;
                    font-size: 5vw;
                }
                .text {
                    margin-bottom: 1rem;

                    >div {
                        font-size: 3vw;
                        line-height: 1;
                        text-transform: uppercase;
                        font-family: var(--mainEng);
                        text-decoration: unederline;  
                    }
                }
                .title {
                    font-weight: 500;

                }
                .btn {
                    a{
                        text-decoration: underline;
                        margin: 0 3px;
                        font-size: 1.1rem;
                        transition:  all 0.3s;

                        &:hover{
                            color: orange;
                        }
                    }
                }
                .infor {
                    position: absolute;
                    width: 98%;
                    left: 0;
                    bottom: 3%;
                    justify-content: space-between;
                    margin-left: 1%;  
                    border-top: 1px solid var(--black100);
                    border-bottom: 1px solid var(--black100);
                    
                    >span {

                    }
                }
            }
        }
    }
}